.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px;
}

nav.header a{
    text-decoration: none;
    margin-left: 30px;
    color:#FFFFFF;
}

nav.header a:hover{
    color:#FFFFFF;
}